<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="generator" content="Hugo 0.79.0" />
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Vincent Godé">
        <meta name="description" content="Le meilleur fondant au chocolat" />
        <meta name="keywords" content="meilleur, fondant, chocolat, Vincent, Godé" />
        <title>Le meilleur fondant au chocolat</title>
    </head>
    <body>
        <h1>Hello</h1>
    </body>
</html>
